@import '../../main-styles.scss';

.budget-items-section
{
    display: flex;
    padding: 50px;


    //Horizontally and Vertically center flex children
    justify-content: center;
    align-items: center;



    .budget-items-container
    {
        display: flex;
        max-width: 680px;
        width: 100%;
        height: 100%;


        .income-column, .expenses-column
        {
            display: flex;
            flex-direction: column;
            flex-basis: 0;        //for columns to be the same size, regardless the content
            flex-grow: 1;        //for columns to take all available space



            h1
            {
                font-family: 'Lato';
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
            }



            .budget-items
            {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
            }
        }


        .income-column
        {
            margin-right: 35px;
            

            h1
            {
                color: $green;
            }
        }



        .expenses-column
        {
            margin-right: 35px;
            

            h1
            {
                color: $red;
            }
        }

    }
}