
<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>

<section class="total-budget-setion">
    <h2 [ngClass]="{'red': totalBudget < 0, 'green': totalBudget > 0}">{{totalBudget}}</h2>
</section>

<section class="add-item-section">
     <div class="add-item-container">
         <app-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-add-item-form> 
          <!--allows us to get the value of the event and pass it to the method-->
     </div>
</section>


<hr style="margin-top: 60 px;">



<app-budget-item-list [budgetItems]="budgetItems" (delete)="deleteItem($event)" ></app-budget-item-list>